.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
}

.logo {
    /* Logo için stil */
    font-size: 20px;
    font-weight: bold;
}

.titles span {
    margin-left: 20px;
    cursor: pointer;
}